name: Test manual steps

on: 
  workflow_dispatch:
    inputs:
      newRepositoryName:
        description: 'New Repository Name'    
        required: true
      type:
        description: 'Type of new project'  

jobs:
  printInputs:
    runs-on: ubuntu-latest
    steps:
      - name: Using Variables
        env:
          TEST_SECRET: ${{ secrets.TEST_SECRET }}
        run: |
          echo "New Repository Name: ${{ github.event.inputs.newRepositoryName }}"
          echo "Type of new project: ${{ github.event.inputs.type }}" 
          echo "Secret: $TEST_SECRET" 
      # - name: Install Dependencies
      #   run: |
      #     curl -sL https://deb.nodesource.com/setup_14.x | sudo -E bash -
      #     sudo apt install nodejs
      #     npm install pulumi

      - name: Run Pulumi
        env:
          GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
        run: |
          pulumi up

      - name: show job status
        if: always()
        run: echo $status
        env:
          status: ${{job.status}}

      - name: Slack Notification
        if: always()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: https://hooks.slack.com/services/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
          SLACK_CHANNEL: general
          SLACK_COLOR: ${{ job.status }} # or a specific color like 'green' or '#ff00ff'
          SLACK_MESSAGE: 'Post Content :rocket:'
          SLACK_TITLE: Post Title
      # if: ${{ success() || failure() }}
        
