name: Test manual steps

on: 
  workflow_dispatch:
    inputs:
      newRepositoryName:
        description: 'New Repository Name'    
        required: true
      type:
        description: 'Type of new project'  

jobs:
  printInputs:
    runs-on: ubuntu-latest
    steps:
      - name: Using Variables
        env: # Or as an environment variable
          TEST_SECRET: ${{ secrets.TEST_SECRET }}
        run: |
          echo "Log level: ${{ github.event.inputs.newRepositoryName }}"
          echo "Tags: ${{ github.event.inputs.type }}" 
          echo "Secret: ${{TEST_SECRET}}" 
