name: Test manual steps

on: 
  workflow_dispatch:
    inputs:
      newRepositoryName:
        description: 'New Repository Name'    
        required: true
      type:
        description: 'Type of new project'  

jobs:
  printInputs:
    runs-on: ubuntu-latest
    steps:
      - name: Using Variables
        env:
          TEST_SECRET: ${{ secrets.TEST_SECRET }}
        run: |
          echo "New Repository Name: ${{ github.event.inputs.newRepositoryName }}"
          echo "Type of new project: ${{ github.event.inputs.type }}" 
          echo "Secret: $TEST_SECRET" 
      - name: Install Dependencies
        run: |
          curl -sL https://deb.nodesource.com/setup_14.x | sudo -E bash -
          sudo apt install nodejs
          npm install pulumi

      - name: Run Pulumi
        env:
          GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
        run: |
          pulumi up
        
